<div class="row">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/1000px-F_icon.svg.png" style="width: 10%; height: 10%;">
  <p class="contact">บริษัท-นอร์ทอีสเทิร์น-ซัพพลายส์-จำกัด</p>
</div>
<div class="row">
  <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/LINE_logo.svg" style="width: 10%; height: 10%;">
  <p class="contact">บริษัท-นอร์ทอีสเทิร์น-ซัพพลายส์-จำกัด</p>
</div>
<div class="row">
  <img src="http://pngimg.com/uploads/email/email_PNG49.png" style="width: 10%; height: 10%;">
  <p class="contact">email@mail.com</p>
</div>
<div class="row">
  <img src="http://sisinterstudy.com/wp-content/uploads/2014/11/purple-phone-logo1-hi.png" style="width: 10%; height: 10%;">
  <p class="contact">000000000</p>
</div>
