<title><%= t('title.contact')%></title>
<div class="container">
  <h4 class="uk-text-center uk-margin-large-top uk-margin-large-bottom"><%= t('title.contact')%></h4>
  <div class="row uk-margin-large-bottom">
    <div class="uk-grid">
      <div class="uk-width-1-2">
        <img src="/9134.jpg" alt="">
      </div>
      <div class="uk-width-1-2" style="margin-top: auto; margin-bottom: auto;">
        <div class="uk-text-large uk-text-bold">บริษัท นอร์ทอีสเทิร์น ซัพพลายส์ จำกัด</div><br>
        <div class="uk-text-large">11/3 ถนนศรีธาตุประชาสันติ ตำบลในเมือง <br> อำเภอเมืองขอนแก่น ขอนแก่น 40000</div><br>
        <div class="uk-text-large">โทรศัพท์: (+66)86-8523976</div>
        <div class="uk-text-large">แฟกซ์: (+66)43-009744</div>
        <div class="uk-text-large">อีเมล์: nescokkn@gmail.com</div>
      </div>
    </div>
  </div>
  <div class="uk-text-center uk-margin-large-bottom">
      <iframe width="900" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=%E0%B8%9A%E0%B8%A3%E0%B8%B4%E0%B8%A9%E0%B8%B1%E0%B8%97%20%E0%B8%99%E0%B8%AD%E0%B8%A3%E0%B9%8C%E0%B8%97%E0%B8%AD%E0%B8%B5%E0%B8%AA%E0%B9%80%E0%B8%97%E0%B8%B4%E0%B8%A3%E0%B9%8C%E0%B8%99%20%E0%B8%8B%E0%B8%B1%E0%B8%9E%E0%B8%9E%E0%B8%A5%E0%B8%B2%E0%B8%A2%E0%B8%AA%E0%B9%8C%20%E0%B8%88%E0%B8%B3%E0%B8%81%E0%B8%B1%E0%B8%94%20%E0%B8%96%E0%B8%99%E0%B8%99%E0%B8%A8%E0%B8%A3%E0%B8%B5%E0%B8%98%E0%B8%B2%E0%B8%95%E0%B8%B8%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%8A%E0%B8%B2%E0%B8%AA%E0%B8%B1%E0%B8%99%E0%B8%95%E0%B8%B4%20%E0%B8%95%E0%B8%B3%E0%B8%9A%E0%B8%A5%E0%B9%83%E0%B8%99%E0%B9%80%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%87%20%E0%B8%AD%E0%B8%B3%E0%B9%80%E0%B8%A0%E0%B8%AD%E0%B9%80%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%87%E0%B8%82%E0%B8%AD%E0%B8%99%E0%B9%81%E0%B8%81%E0%B9%88%E0%B8%99%20%E0%B8%82%E0%B8%AD%E0%B8%99%E0%B9%81%E0%B8%81%E0%B9%88%E0%B8%99%20%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%97%E0%B8%A8%E0%B9%84%E0%B8%97%E0%B8%A2&key=AIzaSyCtdww6zAYcX9wZiQEJDprB5pGtfjXkgzE" allowfullscreen></iframe>
  </div>
</div>
