<title><%= t('button.contact')%></title>
<div class="container">
  <h4 class="uk-text-center uk-margin-large-top uk-margin-large-bottom uk-text-bold"><%= t('button.how_to')%></h4>
  <div class="row uk-margin-large-bottom">
    <div class="uk-grid">
      <div class="uk-width-1-2 uk-text-center">
        <img src="http://songhosp.com/UserFiles/Image/old-telephone-ringing-silhouette-image(2).png" alt="">
      </div>
      <div class="uk-width-1-2" style="margin-top: auto; margin-bottom: auto;">
        <h4 class="uk-text-bold">สั่งซื้อผ่านโทรศัพท์/แฟกซ์</h4>
        <div class="uk-text-large">โทรศัพท์: (+66)86-8523976</div>
        <div class="uk-text-large">แฟกซ์: (+66)43-009744</div>
        <div class="uk-text-large">อีเมล์: nescokkn@gmail.com</div>
      </div>
    </div>
  </div>
  <div class="row uk-margin-large-bottom">
    <div class="uk-grid">
      <div class="uk-width-1-2 uk-text-center">
        <img src="/9134.jpg" alt="">
      </div>
      <div class="uk-width-1-2" style="margin-top: auto; margin-bottom: auto;">
        <h4 class="uk-text-bold">วิธีจัดส่งมีดังนี้</h4>
        <div class="uk-text-large">1. ลูกค้าสามารถติดต่อรับสินค้าได้ที่บริษัทฯ </div>
        <div class="uk-text-large">2. บริษัทฯ บริการจัดส่งสินค้าให้กับลูกค้า </div>
        <div class="uk-text-small">รายละเอียดเพิ่มเติมกรุณาติดต่อทางเรา </div>
      </div>
    </div>
  </div>
</div>
