<title><%= t('title.product')%></title>
<%= render "shared/tab" %>
<h4 style="margin: auto;text-align: center; margin-top: 5%; margin-bottom: 5%;"><%= raw t('home.product.kitchen')%></h4>
<div class="container uk-margin-large-bottom">
  <div class="row">
    <div class="uk-child-width-1-3@m" uk-grid>
      <div uk-toggle="target: #green">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_253038096_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">STEWARD เครื่องล้างจานขนาดเล็ก DW50</h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #breachcx">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_174974532_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">STEWARD เครื่องล้างแก้วขนาดเล็ก DW2</h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #breachox">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_321071561_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">STEWARD เครื่องล้างแก้วขนาดเล็ก DWG16</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="uk-child-width-1-3@m" uk-grid>
      <div uk-toggle="target: #remove">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_234173487_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">REMOVE</h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #brightglass">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_277984578_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">BRIGHT GLASS</h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #DRYGLASS">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_375735459_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">DRY GLASS</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="uk-child-width-1-3@m" uk-grid>
      <div uk-toggle="target: #FRESH">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_244244621_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">FRESH</h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #RENEW">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_618509061_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">RENEW(N)</h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #RINSEKLEAR">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_587101824_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">RINSE KLEAR</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="uk-child-width-1-3@m" uk-grid>
      <div uk-toggle="target: #SHEETOFF">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_393948474_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">SHEET-OFF (L)</h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #SHINING">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_731711323_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">SHINING</h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #SKY">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_357749105_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">SKY</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="uk-child-width-1-3@m" uk-grid>
      <div uk-toggle="target: #STAR">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_90712267_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">STAR</h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #WAREKLEEN">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_749626183_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">WARE KLEEN</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="green" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">STEWARD เครื่องล้างจานขนาดเล็ก DW50</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_253038096_fullsize.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                  เป็นเครื่องล้างจานขนาดเล็ก เหมาะสำหรับสถานประกอบการไม่เกิน 80 ที่นั่ง วัสดุทำจากสแตนเลส AISI 304
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - ประสิทธิภาพการล้าง: 1,000 ชิ้น/ชั่วโมง 50 กะบะ/ชั่วโมง <br>
                - มโปรแกรมการล้าง: 72/102 วินาที <br>
                - เหมาะอย่างยิ่งสำหรับน้ำที่มีความกระด่างสูงกว่าปกติ ซักได้ดีทั้งอุณหภูมิสูงและอุณหภูมิ <br>
                - ปริมาตรถังล้าง: 30 ลิตร <br>
                - อุณหภูมิถังน้ำล้าง: 65 องศา <br>
                - อุณหภูมิถังน้ำล้างสุดท้าย: 85 องศา <br>
                - ระบบแรงดันน้ำ: 2-6 บาร์ <br>
                - ระบบไฟฟ้า: 220V/L/N/PE/50Hz.<br>
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้ำหนัก 75 Kg.
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="breachcx" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">เครื่องล้างจานขนาดเล็ก DW2</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_174974532_fullsize.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                เป็นเครื่องล้างจานขนาดเล็ก เหมาะสำหรับสถานประกอบการไม่เกิน 80 ที่นั่ง วัสดุทำจากสแตนเลส AISI 304
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
               - โปรแกรมการล้าง: 120 วินาที
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้ำหนัก 47 kg.
                - ความกว้าง 475 mm.
                - ความลึก 555 mm.
                - ความสูง 675 mm.
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="breachox" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">STEWARD เครื่องล้างแก้วขนาดเล็ก DWG16</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_321071561_fullsize.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                STEWARD เครื่องล้างแก้วขนาดเล็ก DWG16
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - ประสิทธิภาพการล้าง 480 - 1,440 ชิ้น/ชั่วโมง<br> - โปรแกรมการล้าง 120 วินาที <br> - ระบบแรงดันน้ำ 2-6 bar
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้ำหนัก 70 kg. <br>
                - ความกว้าง 565 mm. <br>
                - ความลึก 640 mm. <br>
                - ความสูง 815 mm. <br>
                - ขนาดของเบรคเกอร์ 20 amp <br>
                - ปริมาตรถังล้าง 28 Litter
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="remove" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">REMOVE</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_234173487_fullsize.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                เป็นผลิตภัณฑ์ล้างแก้วชนิดน้ำ เหมาะสำหรับใช้กับเครื่องล้างแก้ว เพื่อขจัดคราบสกปรกต่างๆ และให้แก้วใสเป็นประกายแวววาว
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - เป็นสารละลายใส <br>
                - มีส่วนประกอบของสารอินทรีย์  <br>
                - มีกลิ่นเฉพาะตัว  <br>
                - มีค่าความเป็นกรด-ด่าง เท่ากับ 9-10 ปราศจากสารฟอสเฟต
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้ำหนัก 20 ลิตร ต่อ ถัง
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="brightglass" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">BRIGHT GLASS</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_277984578_fullsize.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                เป็นผลิตภัณฑ์ล้างคราบตะกรันและสนิมในเครื่องล้างจาน เพื่อเพิ่มประสิทธิภาพในการทำงานของเครื่องล้างจานให้ดียิ่งขึ้น
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - เป็นของเหลวสีแดง <br>
                - มีกลิ่นเฉพาะตัว  <br>
                - มีค่าความเป็นกรด-ด่างเท่ากับ 1-2 สามารถขจัดคราบตะกรันและสนิมในเครื่องล้างจานได้ทุกชนิด
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้ำหนัก 20 ลิตร ต่อ ถัง
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="DRYGLASS" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">DRY GLASS</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_375735459_fullsize.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                เป็นผลิตภัณฑ์ช่วยแห้งชนิดน้ำ เหมาะสำหรับใช้กับเครื่องล้างแก้ว เพื่อให้ภาชนะแห้งเร็ว และใสเป็นประกายแวววาว
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - เป็นของเหลวสีแดง <br>
                - มีกลิ่นเฉพาะตัว  <br>
                - มีค่าความเป็นกรด-ด่างเท่ากับ 1-2 สามารถขจัดคราบตะกรันและสนิมในเครื่องล้างจานได้ทุกชนิด
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้ำหนัก 5 ลิตร ต่อ  แกนลอน
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="FRESH" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">FRESH</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_244244621_fullsize.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                เป็นน้ำยาล้างจานประสิทธิภาพสูง สามารถขจัดคราบสกปรกและไขมัน ทำให้จาน ชาม แก้ว และเครื่องใช้สะอาดเงางามถึงแม้ว่าจะใช้ในน้ำที่มีความกระด้างสูง
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - เป็นของเหลวสีเหลืองอ่อน <br>
                - มีกลิ่นหอมมีค่าความเป็นกรด - ด่างเท่ากับ 7.0  <br>
                - สามารถย่อยสลายทางชีวภาพได้อย่างสมบูรณ์ <br>
                - ให้ปริมาณฟองในเกณฑ์ที่พอเหมาะ
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้ำหนัก 5 ลิตร ต่อ แกนลอน <br>
                - น้ำหนัก 20 ลิตร ต่อ ถัง
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="RENEW" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">RENEW(N)</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_618509061_fullsize.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                เป็นผงสำหรับแช่ขจัดคราบอาหารติดแน่นและคราบชากาแฟได้อย่างสะอาดหมดจด เหมาะกับภาชนะทุกชนิด เช่น พลาสติก เมลานีน สแตนเลส เป็นต้น
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - เป็นผงสีขาว  <br>
                - มีส่วนประกอบของสารลดแรงตึงผิวและสารขจัดคราบประเภทออกซิเจน <br>
                - มีค่าความเป็นกรด - ด่าง เท่ากับ 11 <br>
                - มีความสามารถในการขจัดคราบได้ดีสามารถย่อยสลายทางชีวภาพได้อย่างสมบูรณ์
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้ำหนัก 5 กิโลกรัม ต่อ กระป๋อง <br>
                - น้ำหนัก 15 กิโลกรัม ต่อ ถัง
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="RINSEKLEAR" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">RINSE KLEAR</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_587101824_fullsize.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                เป็นผลิตภัณฑ์ช่วยแห้งชนิดน้ำ เหมาะสำหรับใช้กับเครื่องล้างจาน เพื่อให้ภาชนะแห้งเร็ว และในเป็นประกายแวววาว
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - เป็นสารละลายใสสีฟ้าอมน้ำเงิน <br>
                - มีกลิ่นเฉพาะตัว <br>
                - มีส่วนประกอบของสารอินทรีย์ <br>
                - มีค่าความเป็นกรด-ด่างที่1%เท่ากับ 7.0 ปราศจากสารฟอสเฟต
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้ำหนัก 20 ลิตร ต่อ ถัง <br>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="SHEETOFF" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">SHEET-OFF (L)</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_393948474_fullsize.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                เป็นผลิตภัณฑ์ช่วยแห้งชนิดน้ำ เหมาะสำหรับใช้กับเครื่องล้างจาน เพื่อให้ภาชนะแห้งเร็ว และใสเป็นประกายแวววาว
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - เป็นสารละลายใสสีฟ้าอมน้ำเงิน <br>
                - มีกลิ่นเฉพาะตัว <br>
                - มีส่วนประกอบของสารอินทรีย์<br>
                - มีค่าความเป็นกรด - ด่างเท่ากับ 6-7 <br>
                - ปราศจากสารฟอสเฟต
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้ำหนัก 20 ลิตร ต่อ ถัง <br>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="SHINING" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">SHINING</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider="autoplay: true">
            <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-1@m uk-text-center">
              <li>
                <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_92167815_fullsize.jpg" alt="">
                <div class="uk-position-center uk-panel"><h1>1</h1></div>
              </li>
              <li>
                <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_486775371_fullsize.jpg" alt="">
                <div class="uk-position-center uk-panel"><h1></h1></div>
              </li>
              <li>
                <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_731711323_fullsize.jpg" alt="">
                <div class="uk-position-center uk-panel"><h1>3</h1></div>
              </li>
            </ul>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                ผลิตภัณฑ์ล้างถ้วยชาม ขจัดคราบสกปรก และคราบไขมัน
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - เป็นของเหลวสีเหลืองใส สารละลาย 1.0% <br>
                - มีค่าความเป็นกรด-ด่างเท่ากับ 6.0-8.0 ที่อุณหภูมิ 25 องศาเซลเซียส
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้ำหนักสุทธิ 500 มล. / 1 ขวด <br>
                - น้ำหนักสุทธิ 500 มล. / 1 ถุง  <br>
                - น้ำหนักสุทธิ 700 มล. / 1 ถุง
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="SKY" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">SKY</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_357749105_fullsize.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                ผลิตภัณฑ์ล้างจาน ถ้วย ชาม ขจัดคราบสกปรกและไขมัน
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - เป็นของเหลวหนืดสีเหลืองใส <br>
                - ละลายน้ำได้ดี <br>
                - มีค่าความเป็นกรด-ด่างเท่ากับ 6-8 ที่อุณหภูมิ 25 องศาเซลเซียส
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้ำหนักสุทธิ 5,000 มล. / 1 แกลลอน
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="STAR" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">STAR</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_90712267_fullsize.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                ผลิตภัณฑ์ล้างจาน ถ้วยชาม ขจัดคราบสกปรกและคราบไขมัน สะอาด ถูกสุขอนามัย
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - เป็นของเหลวหนืดสีเหลืองใส <br>
                - ละลายน้ำได้ดี <br>
                - มีค่าความเป็นกรด-ด่างเท่ากับ 6-8 ที่อุณหภูมิ 25 องศาเซลเซียส
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้ำหนักสุทธิ 3,800 มล. / 1 แกลลอน
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="WAREKLEEN" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">WARE KLEEN</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_749626183_fullsize.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                เป็นผลิตภัณฑ์ล้างภาชนะ สูตรพิเศษชนิดน้ำ ใช้กับเครื่องล้างจาน เพื่อขจัดคราบอาหารต่าง ๆ จากภาชนะที่จะล้าง สามารถใช้กับน้ำที่มีความกระด้างสูงกว่าเกณฑ์มาตรฐาน
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - เป็นสารละลายใส <br>
                - ไม่มีสี <br>
                - มีค่าความเป็นกรด-ด่าง เท่ากับ 12.0 <br>
                - ย่อยสลายทางชีวภาพได้อย่างสมบูรณ์ <br>
                - ปราศจากสารฟอสเฟต
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้ำหนักสุทธิ 20 ลิตร / ถัง
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
