<title><%= t('title.product')%></title>
<%= render "shared/tab" %>
<h4 style="margin: auto;text-align: center; margin-top: 5%; margin-bottom: 5%;"><%= raw t('home.product.swimming_pool')%></h4>
<div class="container uk-margin-large-bottom">
  <div class="row">
    <div class="uk-child-width-1-3@m" uk-grid>
      <div uk-toggle="target: #green">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_615513611_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">ปั๊มสระว่ายน้ำ รุ่น WHISPERFLO</h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #breachcx">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_734835134_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">ปั๊มสระว่ายน้ำ รุ่น SUPERFLO</h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #breachox">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_684845788_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">ปั๊มสระว่ายน้ำ รุ่น INTELLIFLO</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="uk-child-width-1-3@m" uk-grid>
      <div uk-toggle="target: #save">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_805648363_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">ปั้มสระว่ายน้ำ รุ่น OPTIFLO</h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #WAKS">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_100803500_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">ชุดควบคุมโคมไฟใต้น้ำ LED รุ่น INTELLIBRITE</h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #BUILDERA">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_908340810_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">D.E Filter เครื่องกรองผ้า</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="uk-child-width-1-3@m" uk-grid>
      <div uk-toggle="target: #BLEACHC">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_19767357_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">เครื่องกรองทราย Sand Filter TAGELUS</h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #WAKSALK">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_13824777_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">DAVEY COMMERCIAL SALT CHLORINATOR</h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #spa">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_365557889_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">DAVEY ECOMATIC</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="green" uk-modal>
  <div class="uk-modal-dialog" style="width: auto;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Pentair ปั๊มสระว่ายน้ำ รุ่น WHISPERFLO</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_615513611_fullsize.jpg" alt="">
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                Robust thermoplastic with the Cam & Ramp™ "see thru" lid design. Self-priming, high flow with patented Funnel-Flo diffusers. 2 in. suction and discharge ports.
                Motor features threaded shaft and durable commercial duty 56 frame motor with NEMA square flange.
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - เสียงเดินเครื่องเงียบ ไม่รบกวน<br> - ตัาปั๊มออกแบบมาเพื่อทนทานต่อการใช้งาน<br>
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - 1.0 HP 50 Hz 1 Phase เหมาะสำหรับขนาดสระไม่เกิน 60 คิว <br>
                - 1.5 HP 50 Hz 1 Phase เหมาะสำหรับขนาดสระไม่เกิน 100 คิว <br>
                - 2.0 HP 50 Hz 1 Phase เหมาะสำหรับขนาดสระไม่เกิน 150 คิว <br>
                - 3.0 HP 50 Hz 1 Phase เหมาะสำหรับขนาดสระไม่เกิน 250 คิว <br>
                - 3.0 HP 50 Hz 3 Phase เหมาะสำหรับขนาดสระไม่เกิน 250 คิว <br>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="breachcx" uk-modal>
  <div class="uk-modal-dialog" style="width: auto;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Pentair ปั๊มสระว่ายน้ำ รุ่น SUPERFLO</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_734835134_fullsize.jpg" alt="">
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                SuperFlo pumps are specifically designed to be the best choice for a variety of inground pools.
                SuperFlo features thick walled body parts, a heavy-duty 56 square flange motor, and highly engineered hydraulics.
                SuperFlo's silent running capability and small footprint allow it to easily drop into a compact equipment pad.
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
               - เสียงเดินเครื่องเงียบ ไม่รบกวน<br> - ตัาปั๊มออกแบบมาเพื่อทนทานต่อการใช้งาน<br>
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - 1.0 HP 50 Hz 1 Phase เหมาะสำหรับขนาดสระไม่เกิน 60 คิว <br>
                - 2.0 HP 50 Hz 1 Phase เหมาะสำหรับขนาดสระไม่เกิน 100 คิว
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="breachox" uk-modal>
  <div class="uk-modal-dialog" style="width: auto;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Pentair ปั๊มสระว่ายน้ำ รุ่น INTELLIFLO</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_684845788_fullsize.jpg" alt="">
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                IntelliFlo pumps combine variable speed technology, onboard digital intelligence, and permanent magnet motors (used in hybrid cars) to reduce pump-related energy costs by up to 90%.
                The IntelliFlo VS+SVRS pump models are the first swimming pool pumps to feature a built-in Safety Vacuum Release System that detects drain blockage and automatically shuts the pump off.
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - ประหยัดไฟได้มากกว่า 60%<br> -  เสียงเงียบ (Low noise 7-10 Decibel) <br>- ระบบ Digital พ่วงต่อระบบคอมพิวเตอร์ได้
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - ขนาด 1-3 HP เหมาะสำหรับขนาดสระไม่เกิน 250 คิว <br>
                - 50 Hz. 1 Phase
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="save" uk-modal>
  <div class="uk-modal-dialog" style="width: auto;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Pentair ปั้มสระว่ายน้ำ รุ่น OPTIFLO</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_805648363_fullsize.jpg" alt="">
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                OptiFlo pumps for aboveground pools feature a revolutionary design that delivers dependable high flow performance.
                The OptiFlo features a 48 frame-thru bolt motor, easy access to change the discharge port position, service the impeller, and an exclusive Cam and Ramp™ lid.
                The OptiFlo is available with 3 ft. cord, with a twist lock or standard plug.
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - ตัวปั๊มถูกออกแบบเพื่อให้ทนทานต่อการใช้งาน<br> - ปั๊มน้ำมีคุณภาพและราคาประหยัด
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - 1.0 HP 50 Hz 1 Phase เหมาะสำหรับขนาดสระไม่เกิน 50 คิว
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="WAKS" uk-modal>
  <div class="uk-modal-dialog" style="width: auto;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Pentair ชุดควบคุมโคมไฟใต้น้ำ LED รุ่น INTELLIBRITE</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_100803500_fullsize.jpg" alt="">
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                The IntelliBrite Controller works with IntelliBrite Color Pool & Spa LED Lights as well as IntelliBrite Landscape Lights. It can control and synchronize both sets of lights to create dazzling shows.ี
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - 1 ชุด สามารถควบคุมได้ 4 โคมไฟ (ใช้ควบคู่กับ INTELLIBRITE 56 Color LED)
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="BUILDERA" uk-modal>
  <div class="uk-modal-dialog" style="width: auto;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">D.E Filter เครื่องกรองผ้า</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_908340810_fullsize.jpg" alt="">
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                FNS Plus filters are fiberglass reinforced polypropylene of advanced chemical resistant materials for superior strength and reliability.
                The top manifold design features the Service-Ease grid pack for convenient one-at-a-time grid servicing.
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - กรองฝุ่นละอองได้ละเอียด 3-5 ไมครอน<br> -  ถังเครื่องกรองทำจาก Fiberglass ทนทาน
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - FNS Plus D.E Filter 24 Sq.ft เหมาะสำหรับขนาดสระไม่เกิน 50 คิว <br>
                - FNS Plus D.E Filter 36 Sq.ft เหมาะสำหรับขนาดสระไม่เกิน 90 คิว <br>
                - FNS Plus D.E Filter 48 Sq.ft เหมาะสำหรับขนาดสระไม่เกิน 120 คิว <br>
                - FNS Plus D.E Filter 60 Sq.ft เหมาะสำหรับขนาดสระไม่เกิน 150 คิว <br>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="BLEACHC" uk-modal>
  <div class="uk-modal-dialog" style="width: auto;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">เครื่องกรองทราย Sand Filter TAGELUS</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_19767357_fullsize.jpg" alt="">
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                เป็นผลิตภัณฑ์เคมีสำหรับการฟอกผ้าขาวเป็นสารอินทรีย์ที่ปลอดภัยต่อผ้าขาวทุกชนิด  ให้ความขาวแก่เนื้อผ้าพร้อมกับให้ความปลอดภัยต่อเส้นใยของผ้า  แม้ผ่านการฟอกหลายครั้ง  ใช้ได้กับผ้าฝ้ายเท่านั้น
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - มีความละเอียดในการกรอง 25 ไมครอน<br> - ถัถังเครื่องกรองทำจาก Fiberglass ทนทาน
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - TAGELUS Sand Filter TA 40 เหมาะสำหรับขนาดสระไม่เกิน 50 คิว <br>
                - TAGELUS Sand Filter TA 60 เหมาะสำหรับขนาดสระไม่เกิน 80 คิว <br>
                - TAGELUS Sand Filter TA 100 เหมาะสำหรับขนาดสระไม่เกิน 130 คิว <br>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="WAKSALK" uk-modal>
  <div class="uk-modal-dialog" style="width: auto;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">DAVEY COMMERCIAL SALT CHLORINATOR</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_13824777_fullsize.jpg" alt="">
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                Salt Water Chlorination is the ideal sanitization method for commercial swimming pools.
                Automatic chlorine generation from an ECO-matic Large Commercial System provides convenient, safe and economical pool disinfection.
                This means pool operators no longer have to purchase, handle or store hazardous chemicals
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                 - มีระบบล้าง Cell ในตัว<br> - ปลอดภัยต่อผู้ใช้สระว่ายน้ำ เพราะไม่ใช้คลอรีน<br> - เหมาะสำหรับใช้กับสระน้ำขนาดใหญ่
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - COMM 1200  (ใช้กับสระไม่เกิน 500  ลบ.ม) <br>
                - COMM 2400  (ใช้กับสระ 500- 1000  ลบ.ม) <br>
                - COMM 4000  (ใช้กับ 1000- 1500  ลบ.ม)
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="spa" uk-modal>
  <div class="uk-modal-dialog" style="width: auto;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">DAVEY ECOMATIC</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_365557889_fullsize.jpg" alt="">
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                ผลิตสารฆ่าเชื้อ โดยวิธีการใส่เกลือลงในน้ำ เมื่อน้ำผ่านแผ่น Cell จะเปลี่ยนจากเกลือ เป็น Sodium Hypochlorite 10% โดยไม่ต้องใส่คลอรีน
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - ไม่ใช้คลอรีน <br>
                - ไม่ระคายเคืองต่อผิว<br>
                - เป็นมิตรต่อสิ่งแวดล้อม เพราะเกลือเป็นผลิตภัณฑ์จากธรรมชาติ
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - CHLOROMATIC  ESR160 (ใช้กับสระไม่เกิน 60 ลบ.ม.) <br>
                - CHLOROMATIC ESC24 SALT WATER (ใช้กับสระไม่เกิน 100 ลบ.ม) <br>
                - CHLROMATIC ESC48 SALT  WATER (ใช้กับสระไม่เกิน 250 ลบ.ม)
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
